<footer class="page-footer font-small bg-dark pt-4">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 d-flex justify-content-center">
                
                <a href="mailto:marquesjon@gmail.com" target="_blank">
                    <img class="tm-redesocial m-2" src="https://cdn-icons-png.flaticon.com/512/60/60543.png" alt="logotipo do e-mail">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5581988164550" target="_blank">
                    <img class="tm-redesocial m-2" src="https://cdn-icons-png.flaticon.com/512/152/152740.png" alt="logotipo do Whatsapp">
                    </a>
                    <a href="https://www.linkedin.com/in/jonatasmarquesb/" target="_blank">
                        <img class="tm-redesocial m-2" src="https://cdn-icons-png.flaticon.com/512/61/61109.png" alt="logotipo do linkedin">
                    </a>  
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <p class="text-center text-light fs-8">
                Copyright © 2021 Jonatas Marques
              </p>
            </div>
          </div>
    </div>

</footer>